[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
notebook = "*"
nikola = {editable = true, path = "/home/pieter/projects/nikola"}
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"
