on: [push]

jobs:
  nikola_build:
    runs-on: ubuntu-latest
    name: 'Deploy Nikola to GitHub Pages'
    steps:
    - name: Check out
      uses: actions/checkout@v5
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Build site
      run: |
        printf '\n\nGITHUB_REMOTE_NAME = "origin"\nGITHUB_COMMIT_SOURCE = False\n' >> conf.py
        uv run nikola build
    - name: Deploy
      if: ${{ github.ref == 'refs/heads/src' }}
      run: |
        git fetch origin master
        uv run nikola github_deploy
